<div class="about">
    <div class="container-fluid h-100">
        <div class="row">
            <h1>About Me</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <img class="about-img rounded-pill" src="assets/img1234.jpg"
                alt="Me (left) and my mother (right) at a Buffalo Bills football game. Go Bills!">
        </div>
        <div class="row">
            <p>I am a dedicated and motivated person with 2 years of experience in software engineering. My background
                encompasses robust skills in .NET (C#) backend development, AngularJS/Angular (JavaScript/TypeScript)
                frontend development, and proficiency in iOS (Swift) and Android (Java/Kotlin) frontend development.
                Additionally, I have hands-on experience with MySQL/MySQL Workbench and familiarity with AWS. Throughout
                my career, I have maintained a strong commitment to continuously enhancing my coding skills and staying
                on top of cutting-edge technologies to deliver well-structured, efficient code. I thrive in
                collaborative team environments where my eagerness to learn and quick adaptability significantly
                contributes to streamlined project execution and overall team success.</p>

            <p>I hold a bachelor's degree in Computer Science and Statistics from St. John Fisher University, where I
                developed a solid foundation in a variety of coding languages and technologies, including Java, C,
                Visual Basic, Python, PHP, JavaScript, HTML, CSS, and SQL. My passion for problem-solving is
                complemented by my ability to quickly
                grasp complex concepts and effectively troubleshoot issues. I am adept at implementing efficient
                solutions and have a strong commitment to continuously improving my skills in various domains. </p>

            <p>As I continue to grow professionally, I am eager to leverage my skills and experience to excel in future
                opportunities. I am enthusiastic about the chance to contribute positively to my future team, fostering
                growth and achieving excellence. I look forward to continually striving for personal and professional
                advancement. </p>
        </div>
    </div>
</div>