.projects {
    .projects-row {
        border-bottom: 1px solid #ccc;
    }

    .projects-highlight {
        text-decoration: underline;
    }

    .projects-button {
        max-width: fit-content;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}