<div class="projects">
    <div class="container-fluid h-100">
        <div class="projects-row row">
            <h1>Projects</h1>
        </div>
        <div class="projects-row row">
            <h3>A Coverage Study of Confidence Intervals for Measure of Effect Size</h3>
            <h4>Associated with St. John Fisher College
            </h4>
            <h5>Feb 2021 - Apr 2022</h5>
            <p class="lead">Created own R package for research functions</p>
            <a class="projects-button btn btn-outline-primary"
                href="https://github.com/dakthomps00/researchfunctions">See Project
                Here</a>
        </div>
        <div class="projects-row row">
            <h3>Computer Science Senior Project</h3>
            <h4>Associated with St. John Fisher College
            </h4>
            <h5>Jan 2022 - Apr 2022</h5>
            <p class="lead">Learned coding language Lua and used Lua to build a tycoon game on the website
                Roblox.Learned coding language Lua and
                used Lua to build a tycoon game on the website Roblox.</p>
            <a class="projects-button btn btn-outline-primary"
                href="https://www.roblox.com/games/8769383345/Pep-pa-Pig-World-Tycoon">See
                Project
                Here</a>
        </div>
        <div class="projects-row row">
            <h3>Final “Coding the WWW” Website</h3>
            <h4>Associated with St. John Fisher College
            </h4>
            <h5>Jan 2022 - Apr 2022</h5>
            <p class="lead">Created brand new website over the course of a semester to contain all assignments. <span
                    class="projects-highlight">To
                    note:</span>
                some pages no longer work due to the underlying databases/pages no longer being accessible.</p>
            <a class="projects-button btn btn-outline-primary"
                href="http://lincoln.sjfc.edu/~dst06422/CSCI375/index.html">See Project
                Here</a>
        </div>
        <div class="projects-row row">
            <h3>Statistical Analysis of Healthcare Data</h3>
            <h4>Associated with St. John Fisher College
            </h4>
            <h5>Apr 2022</h5>
            <p class="lead">Analyzed data to assist non-profit in finding ways to better their organization.</p>
        </div>
        <div class="projects-row row">
            <h3>Tutoring Center Spreadsheet Handler</h3>
            <h4>Associated with St. John Fisher College
            </h4>
            <h5>May 2021 - Aug 2021</h5>
            <p class="lead">Created an R program to process data given in the form of a MS Excel Sheet to an easier to
                read table in Google Sheets
                resulting in streamlined tracking of math tutoring data</p>
        </div>
        <div class="projects-row row">
            <h3>Sexual Assault Awareness App</h3>
            <h4>Associated with St. John Fisher College
            </h4>
            <h5>Apr 2021 - May 2021</h5>
            <p class="lead">Coded Android app for sexual assault awareness through Android Studio in JavaCoded Android
                app for sexual assault
                awareness through Android Studio in Java</p>
            <a class="projects-button btn btn-outline-primary"
                href="https://github.com/dakthomps00/MobileComputingFinalApp">See Project
                Here</a>
        </div>
        <div class="row">
            <h3>Simulated Pet Shop Database</h3>
            <h4>Associated with St. John Fisher College
            </h4>
            <h5>Nov 2020 - Dec 2020</h5>
            <p class="lead">Designed and coded an Oracle Apex Database in SQL to demonstrate all knowledge learned of
                databases.</p>
        </div>
    </div>
</div>