<div class="home">
    <header class="home-header" style="background-image: url('assets/IMG9346.jpg');">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="text-center">
                    <div>
                        <h1 class="fw-light text-white">Hello! I'm Dakota, an alumni of St. John Fisher University
                            (formerly
                            College)!</h1>
                        <p class="lead text-white">I graduated with a bachelor's in May 2022 with a
                            double major in computer
                            science and statistics. For the last two years I've been working as a software engineer
                            and am currently open to all sorts of new opportunities.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>