.home {
    .home-header {
        height: 100vh;
        min-height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.616);
    }
}